<% content_for :head do %>
  <%= stylesheet_link_tag 'login' %>
<% end %>
<div class="" id="container">
  <div class="form-container sign-in-container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2>Log in</h2>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>

      <div>
        <%= render "users/shared/links" %>
      </div>
    <% end %>
    
    <div class="overlay-container">
		  <div class="overlay">
			  <div class="overlay-panel overlay-left">
				  <h1>Welcome Back!</h1>
				  <p>To keep connected with us please login with your personal info</p>
				  <button class="ghost" id="signIn">Sign In</button>
			  </div>
			  <div class="overlay-panel overlay-right">
				  <h1>Hello, Friend!</h1>
				  <p>Enter your personal details and start journey with us</p>
				  <button class="ghost" id="signUp">Sign Up</button>
			  </div>
		  </div>   
	  </div>
  </div>  
</div> 



