
<%= custom_bootstrap_flash %>

<div class="lineDown">
  <%= "<h2 style='padding-left: 100px'>New</h2>".html_safe  if params[:action] == "new" || params[:action] == "create"%>
  <%= "<h2 style='padding-left: 100px'>Update </h2>".html_safe  if params[:action] == "edit" || params[:action] == "update"%>  
</div>  
<div id="custom_phase2" class="mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card-body">
        <%= form_with(model: post, local: true, class: "form-horizontal") do |form| %>
          <h3 class="mt-1">Post </h3>
            <div class="card mt-2 mb-2 pb-4 ps-4 pe-4">
              <div class="mt-2 pt-2">
                <%= form.label :title, class: "form-label" %>
                <i class="icon-asterisk text-danger fs-6" style="font-size: 8px !important;"></i>
                <%= form.text_field :title, class: "form-control form-control-lg" %>
              </div>
              <div class="pt-3">
                <%= form.label :description, class: "form-label" %>
                <%= form.text_area :description, class: "form-control" %>
              </div>
              <div class="pt-2 pb-2 form-check form-switch">
                <%= form.check_box :is_public,  { class: "form-check-input", id: "flexSwitchCheckDefault"}, "public", "unpublic" %>
                <%= form.label :is_public, "Public", class: "form-check-label" %><br>
              </div>
              <div class="mb-3">
                <%= form.label :category_id, class: "form-label" %>
                <%= form.collection_select :category_id, Category.all, :id, :title, {}, class: "form-select form-control-lg", id: "category" %>
              </div>
              <div class="d-grid">
                <%= form.submit 'Submit', class: "btn btn-primary" %>
              </div>
            </div>  
        <% end %>
      </div>
    </div>
  </div>
</div>
