<% content_for :content_js do %>
  <%= custom_bootstrap_flash %>
<% end %>

<%= form_with model: @category, local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.fields_for :posts do |posts_form| %>
      <%= render "categories/post_fields", form: posts_form %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add Post', form, :posts, form_name: 'form' %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

