<%= custom_bootstrap_flash %>
<div class="lineDown">
  <%= "<h2 style='padding-left: 100px'>New</h2>".html_safe  if params[:action] == "new"%>
  <%= "<h2 style='padding-left: 100px'>Update </h2>".html_safe  if params[:action] == "edit"%>  
</div>
<div class="mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="p-4">
        <%= form_with model: @category, local: true, class: "needs-validation", novalidate: true do |form| %>
          <h3 class="mt-1">Category </h3>
          <div class="card mt-2 mb-2 pb-4 ps-4 pe-4">
            <div class="mt-2 pt-2">
              <%= form.label :title, class: "form-label" %>
              <i class="icon-asterisk text-danger fs-6" style="font-size: 8px !important;"></i>
              <%= form.text_field :title, class: "form-control form-control-lg", required: true %>
              <div class="invalid-feedback">
                Please provide a title.
              </div>
            </div>

            <div class="pt-1">
              <%= form.label :description, class: "form-label" %>
              <%= form.text_area :description, class: "form-control" %>
              <div class="invalid-feedback">
                Please provide a description.
              </div>
            </div>

            <div class="pt-1 pb-2">
              <%= form.label :image, class: "form-label" %>
              <%= form.file_field :image, class: "form-control h-25 w-100"  %>
              <div div class="invalid-feedback">
                Please upload an image.
              </div>
            </div>
          </div>
          <h3 class="mt-4">Post</h3>
          <div class="mb-3 card p-4" id="posts">
            <%= form.fields_for :posts do |posts_form| %>
              <%= render "categories/post_fields", form: posts_form %>
            <% end %>
            <div class="mt-2">
              <%= link_to_add_association 'Add a post', form, :posts, form_name: "form",class: "btn btn-primary"%>
            </div>
          </div>
          <div class="mt-4">
            <%= form.submit class: "btn btn-primary w-100" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
