
<%= custom_bootstrap_flash %>
<% content_for :head do %>
  <%= stylesheet_link_tag 'categories' %>
<% end %>

<div class="row justify-content-center mt-4">
	<div class="col-10">
		<%= button_to new_category_url, method: :get, class: "btn btn-success" do %>
  		<i class="icon-plus"></i> New
		<% end %>
	</div>
	<div class="col-10 demo">	
  	<table class="table table-sm table-striped p-3 align-middle">
    	<thead class="colorfy">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Count</th>
            <th class="col-2"> Action</th>
        </tr>
    	</thead>
    	<tbody>
        <% @categories.each do |c| %>
          <tr class="h-100" id="category_<%= c.id %>">
            <td class="align-middle ps-2"><%= c.id %></td>
            <td class="align-middle ps-2"><%= c.title %></td>
            <td class="align-middle ps-2"><%= c.description %></td>
            <td class="ps-2">
                <%= c.image.present? ? image_tag(c.image.variant(resize_to_limit: [50, 50]), class: "img-thumbnail") : image_tag("https://via.placeholder.com/50", class: "img-thumbnail") %>
            </td>
            <td class="align-middle ps-2" ><%= c.posts.public_posts.count %></td>
            <td class="align-middle">
                <div class="d-flex">
                    <%= button_to category_url(c), method: :delete, data: { confirm: 'Are you sure?'}, remote: true, class: "user_delete btn btn-danger btn-sm me-2" do %>
                        <i class="icon-trash"></i> 
                    <% end %>

                    <%= button_to edit_category_url(c), method: :get, class: "btn btn-info btn-sm", style: "" do %>
                        <i class="icon-edit-sign"></i> 
                    <% end %>
                </div>
            </td>
          </tr>
        <% end %>
    	</tbody>
		</table>
	</div>
	<div class="col-10">
		<%= paginate @categories, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center"%>
	</div>
</div>

