
<%= custom_bootstrap_flash %>
<div class="row justify-content-center">
	<div class="col-10">
		<%= button_to new_category_url, method: :get, class: "btn btn-success", style: "margin-left: 10px" do %>
  		<i class="icon-plus"></i> New
		<% end %>
	</div>
	<div class="col-10 demo">	
  	<table class="table table-sm table-striped w-100 p-3">
    	<thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Count</th>
            <th>Feature</th>
        </tr>
    	</thead>
    	<tbody>
        <% @categories.each do |c| %>
          <tr id="category_<%= c.id %>">
            <td><%= c.id %></td>
            <td><%= c.title %></td>
            <td><%= c.description %></td>
            <td>
                <%= c.image.present? ? image_tag(c.image.variant(resize_to_limit: [50, 50]), class: "img-thumbnail") : image_tag("https://via.placeholder.com/50", class: "img-thumbnail") %>
            </td>
            <td><%= c.posts.public_posts.count %></td>
            <td style="display: flex; padding-left: 15px">
                <%= button_to category_url(c), method: :delete, data: { confirm: 'Are you sure?'}, remote: true, class: "user_delete btn btn-danger" do %>
                    <i class="icon-trash"></i> Delete
                <% end %>

                <%= button_to edit_category_url(c), method: :get, class: "btn btn-info", style: "margin-left: 10px" do %>
                    <i class="icon-edit-sign"></i> Update
                <% end %>
            </td>
          </tr>
        <% end %>
    	</tbody>
		</table>
	</div>
	<div class="col-10">
		<%= paginate @categories, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center"%>
	</div>
</div>
<%= flash.discard  %>
