<table border="1">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>image</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        <% @categories.each do |c| %>
          <tr>
            <td><%= c.title %></td>
            <td><%= c.description  %></td>
            <td><%= c.image.present? ? image_tag(c.image.variant(resize_to_limit: [50, 50])) : image_tag("https://via.placeholder.com/50") %></td>
            <td><%= c.posts.count %></td>
          </tr>
        <% end %>
 
    </tbody>
</table>
<%= paginate @categories%>